/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
upload/
upload_video/
upload_pdf/
pdf/guard/
pdf/
composer.lock
.vscode
app.zip